/* Top Nav Stylings */
  
.profile-dropdown .drop-btn {
    font-size: 16px;  
    border: none;
	margin: 0;
    background-color: inherit;
	outline: none;
	font-family: inherit;
  }
  
.profile-dropdown-content {
    display: none;
    margin-top: 50px;
    position: fixed;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    background-color: #ffffff;
    z-index: 1;
    
    -moz-transform: translateX(-22%);
    transform: translateX(-22%);
    -ms-transform: translateX(-22%);
    -o-transform: translateX(-22%);
    -webkit-transform: translateX(-22%);
  }

.profile-dropdown {
    overflow: hidden;
  }

.profile-dropdown-content a {
    /*float: none;*/
    /*color: black;*/
   
    
	display: block;
	text-decoration: none;
    text-align: left;
  }
  
.profile-dropdown-content a:hover {
    background-color: #ddd;
  }
  
.profile-dropdown:hover .profile-dropdown-content {
    display: inline-block;
  }

.nav-top {
    margin: -8px -8px;
    background-color: #ffffff;
    overflow: hidden;
}
  
.nav-top a {
    font-size: 17px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 18px;
    padding-left: 23px;
    padding-right: 23px;
    color: #000000f1;
}

.nav-top .rightitems .text{
    padding-top: 27px;
    padding-bottom: 27px;
}

@media screen and (min-width: 800px)
{
    .nav-top .myaccountlink {display: none;}
    .nav-top .rightitems{
        float: right;
    }
}

.nav-top .logo{
    padding-top: 20px;
}

.nav-top a:hover:not(.burgerimg, .logo, .pfp) {
    background-color: #dfdfdf;
}

.nav-top .burgerimg {
    display: none;
} 

@media screen and (max-width: 800px) {
    .nav-top a:not(.logo) {display: none;}
    .nav-top .pfp {display: none;}
    .nav-top a.burgerimg {
        float: right;
        display: block;
    }

    .nav-top.burger {position: relative;}
    .nav-top.burger a.burgerimg {
        top: 0;
        position: absolute;
        right: 0;
    }

    .nav-top.burger a {
        float: none;
        display: block;
        text-align: left;
    }
} 

/* Form stylings */

.form label{
    font-family: Arial, Helvetica, sans-serif;
}

.form button{
    margin-top: 15px;
    padding: 6px;
    padding-right: 8px;
}

.form{
    margin-top: 5%;
    margin-left: 18%;
    display: inline-block;
}

.form .inputs{
    margin-top: 30px;
    font-size: 14px;
}

.form .inputs > *{
    margin-top: 4px;
    margin-bottom: 4px;
}

.form .one-input > *{
    width: 65.3%;
}

.form .two-inputs > *{
    width: 30.9%;
    margin-right: 1.6%;
}

.form .three-inputs > *{
    width: 12%;
    margin-right: 1.6%;
}

.form input{
    border-radius: 3px;
    border-width: 1px;
    border-color: lightgray;
    padding: 2px;
    height: 23px;
}

.form form {
    display: block;
}

.form hr{
    width: 68%;
    float: left;
    border-width: 1px;
}

/* Home Container */

.container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-left: -8px;
    margin-right: -8px;
}

.splashText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    white-space: nowrap; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login{
    width: 50%;
}

/* Message box stylings */

.alert {
    border-width: 10px;
    background-color: #e0291c; 
    color: #000000;
    margin-bottom: 16px;
    border-radius: 5px;
    padding: 22px;
    
}

.info {
    border-width: 10px;
    background-color: #003cff; 
    color: #000000;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 22px;
    
}

.close_button:hover {
    color: #ffffff;
} 
  
.close_button {
    font-size: 23px;
    line-height: 20px;
    cursor: pointer;
    margin-left: 16px;
    font-weight: bold;
    float: right;
    color: #000000;
    transition: 0.4s;
}

/* Other Stylings */

.textbox{
    word-wrap: break-word;
    
    padding: 5%;

    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
}

body{
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,#34adc2, #0fb397);
}

/*
.map{
    margin-left: 5px;
    
    width: 50%;
    float: right;
    height: 600px;
}



.textbox{
    word-wrap: break-word;
    width: 45%;
    
    background-color: rgba(255, 255, 255, 0.3);
    padding: 15px;
    margin-bottom: 30px;
    margin-left: 40px;
    display: inline-block;
}
*/