<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>UKIW Prototype</title>
</head>

<body>
    <div class="nav-top" id="nav-top">
        <a class="logo" href="/">
            <img src="/static/img/UKIWlogo.jpeg" width="70" alt="Home">
        </a>

        {{ if .User_details }}
        <h1>fdg</h1>
        <span class="dropdown" style="float: right; width: fit-content;">
            <span class="dropbtn">
                <img class="pfp dropbtn" style="padding: 20px 20px 0 20px; float: right;" src="/static/profilepictures/a.jpeg" alt="My Account" width="32" height="32">
            </span>
            <div class="dropdown-content">
            <a href="#">My Bills</a>
            <a href="#">Settings</a>
            <a href="/logout">Log Out</a>
            </div>
        </span> 
        {{.User_details.Username}}
        {{end}}
        

        <span class = "rightitems">
            {{ if .User_details }}
            <a class="text myaccountlink" href="">My Account</a>
            {{end}}

            <a class="text" href="/ourmarinas">Our Marinas</a>
            <a class="text" href="/about">About Us</a>
            
            <div class="dropdown">
                <span>Mouse over me</span>
                <div class="dropdown-content">
                    <p>Hello World!</p>
                </div>
            </div>
            
            <a class="text" href="/search">Search</a>
            
            {{ if not .User_details }}
            <a class="text" href="/login">Login</a>
            <a class="text" href="/signup">Sign Up</a>
            {{end}}

            <a href="javascript:void(0);" onclick="verticalMenu()" class="burgerimg" style="margin-top: 13px;">
                <img src="/static/img/icon.jpeg" width="17">
            </a>
        </span>
    </div> 

    {{ template "content" .}}

    <script src="static/js/base.js"></script> 
</body>
</html>
