<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>UKIW Prototype</title>
</head>

<body>
    <div class="nav-top" id="nav-top">
        <a class="logo" href="/">
            <img src="/static/img/UKIWlogo.png" width="70" alt="Home">
        </a>

        <span class = "rightitems">
            <a href="/ourmarinas">Our Marinas</a>
            <a href="/aboutus">About Us</a>
            <a href="/sales">Sales</a>
            <a href="/search">Search</a>
            
            {{ if .User_details }}
            <a href="/myaccount">My Account</a>
            {{else}}
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
            {{end}}

            <a href="javascript:void(0);" onclick="verticalMenu()" class="burgerimg">
                <img src="/static/img/icon.png" width="17">
            </a>
        </span>
    </div> 

    {{ template "content" .}}

    <script src="static/js/base.js"></script> 
</body>
</html>
