<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>UKIW Prototype</title>
</head>

<body>
    <div class="topnav" id="topnav">
      <a href="/" style="float: left; padding: 5px;" class="element logo"><img src="/static/img/UKIWlogo.jpeg" width="70" alt="Home"></a>
      
      <a href="/signup" class="hover element">Sign Up</a>
      <a href="/login" class="hover element">Login</a>
      <a href="/search" class="hover element">Search</a>
      <a href="/about" class="hover element">About Us</a>
      
      <div class="dropdown element hover">
        <button class="dropbtn">Sales</button>
        <div class="dropdown-content">
            <a href="/shops">Shops</a>
            <a href="/boats">Boats</a>
        </div>
      </div> 
      
      <a href="/ourmarinas" class="hover element">Our Marinas</a>
      
      <a href="javascript:void(0);" class="icon element" onclick="verticalMenu()">
        <img src="/static/img/icon.jpeg" width="17">
      </a>
    </div>

    {{ template "content" .}}

    <script src="static/js/base.js"></script> 
</body>
</html>
