{{ define "content" }}
<div class="form">
    <h1>Sign Up</h1>
    <label>Create a UKIW account</label>
    
    <br>

    <form method="POST">
        <div class="inputs">
            <label for="firstname">Your Name</label>
            <br>
            <span class="two-inputs">
                <input type="text" id="firstname" name="firstname" placeholder="First Name">
                <input type="text" id="lastname" name="lastname" placeholder="Last Name">
            </span>
            <br>

            <label for="username">Account Details</label>
            <br>
            <span class="two-inputs">
                <input type="text" id="username" name="username" placeholder="Username">
                <input type="password" id="password" name="password" placeholder="Password">
            </span>
            <br>

            <label for="username">Email Address</label>
            <br>
            <span class="one-input">
                <input class="one-input" type="text" id="email" name="email" placeholder="Email">
            </span>
            <br>

            <label for="username">Date of Birth (DD-MM-YYYY)</label>
            <br>
            <span class="three-inputs">
                <input type="text" id="dob-day" name="dob-day" placeholder="Day">
                <input type="text" id="dob-month" name="dob-month" placeholder="Month">
                <input type="text" id="dob-year" name="dob-year" placeholder="Year">
            </span>  
        </div>
        <button type="submit">Sign Up</button>
    </form>
    <br>
    <hr>
    <br>

    <span style="font-size: 12px; border: 10px;">
        Already have an account? 
        <a href="/signin">Sign In</a>
    </span>
    
</div>
{{ end }}