hr {
    border-width:0;
    width: 65%;
    margin: 0;
    height:1px;
    margin-top: 13px;
    color: black;
    background-color: black ;
}

/* Navbar stylings */

.page-search{
    margin-right: 25px;
    margin-top: 8px;
}

.page-search input{
    height: 25px;
}

.nav{
    width: 100%;
    top: 0;
    position: relative;
}

ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    background-color: rgb(94, 94, 94);
  }

  .nav-text{
      margin-top: 6px;
      float: right;
  }
  
  li {
    float: left;
    vertical-align: middle;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    padding-right: 40px;
    text-decoration: none;
    vertical-align: middle;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #b6b6b6;
  }

/* Form stylings */

.form label{
    font-family: Arial, Helvetica, sans-serif;
}

.form button{
    margin-top: 15px;
    padding: 6px;
    padding-right: 8px;
}

.form{
    margin-top: 5%;
    margin-left: 18%;
    width: fit-content;
}

.form .inputs{
    margin-top: 30px;
    font-size: 14px;
}

.form .inputs > *{
    margin-top: 4px;
    margin-bottom: 4px;
}

.form .one-input > *{
    width: 65.3%;
}

.form .two-inputs > *{
    width: 30.9%;
    margin-right: 1.6%;
}

.form .three-inputs > *{
    width: 12%;
    margin-right: 1.6%;
}

.form input{
    border-radius: 3px;
    border-width: 1px;
    border-color: lightgray;
    padding: 2px;
    height: 23px;
}

/* Other stylings */

body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,#34adc2, #0fb397);
    margin: 0;
}

h1{
    margin-bottom: 3px;
}
