{{ define "content" }}
<div class="form">
    <h1>Login</h1>
    <label>Login to your UKIW account</label>
    
    <br>

    <form method="POST">
        <div class="inputs">
            <label for="username">Username:</label><br>
            <input type="text" name="username" width="30"><br>

            <label for="password">Password:</label><br>
            <input type="password" name="password"><br>
        </div>
        <button type="submit">Login</button>
    </form>
    <br>
    <hr>
    <br>

    <span style="font-size: 12px; border: 10px;">
        Don't have an account? 
        <a href="/signup">Sign Up</a>
    </span>
    
</div>
{{ end }}